@import './less/transition/index.less';

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none !important;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: visible !important;
  overflow-x: hidden !important;
  background: url(./assets/bg.jpeg) no-repeat center;
  background-size: cover;
  &.color-weak {
    filter: invert(80%);
  }

  &.gray-mode {
    filter: grayscale(100%);
    filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
  }
}
a,
a:focus,
a:active,
button,
div,
svg,
span {
  outline: none !important;
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
